{% extends "base.html" %}

{% block feed %}<link rel="alternate" type="application/rss+xml" title="ReportingOn Latest Questions" href="/feeds/latest">{% endblock %}

{% block title %}All questions | {{ block.super }}{% endblock %}

{% load pagination_tags %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content">
            <div id="question-list">
                {% autopaginate questions 10 %}
                <div class="question-count">
                    {% if page_obj.has_next or page_obj.has_previous %}<div class="pages right">{% paginate %}</div>{% endif %}showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} questions
                </div>
                {% include "questions-list.html" %}
                <div class="question-count bottom">
                    {% if page_obj.has_next or page_obj.has_previous %}<div class="pages right">{% paginate %}</div>{% endif %}showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} questions
                </div>
            </div>
        </div>
    </div>
    <div id="content-right">
        {% include "includes/ask-a-question.html" %}
    </div>
{% endblock %}
