{% load comments %}
{% load tagging_tags %}
{% load humanize %}
{% load smart_if %}
{% load content_type %}
{% load watched %}
{% load at_reply %}

{% for question in questions %}
    {% get_comment_count for question as comment_count %}
    {% tags_for_object question as tags %}
    <div class="question clearfix">
        <div class="avatar left"><a href="{{ question.author.get_absolute_url }}" style="background-image: url('http://www.gravatar.com/avatar/{{ question.author.get_profile.get_gravatar }}.jpg?s=70&amp;d=http://reportingon.com/media/images/avatar.jpg');" title="{{ question.author.username }}"><span>{{ question.author.get_profile.get_score }}</span></a></div>
        <div class="meta left">
            <div class="answers-number right" title="# of answers + question points + answer points">{{ question.get_score }}</div>
            <a href="{{ question.get_absolute_url }}" class="title">{{ question.question }}</a>
            <div class="answers">{{ comment_count }} answer{% ifnotequal comment_count 1 %}s{% endifnotequal %}</div>
            <div class="tools">
                {% rated question request.user as israted %}
                <a href="/rate/{% get_content_type_id question %}/{{ question.id }}/{{ question.author.id }}" class="good-question rate {% if not request.user.is_authenticated %}disabled{% endif %} left {% if israted %}rated-good{% endif %}" id="rated-{% get_content_type_id question %}-{{ question.id }}">Good Question</a>
                <div class="posted">
                    Posted in 
                    {% if tags.count > 1 %}
                         <a href="{{ question.get_absolute_url }}">{{ tags.count }} beats</a>
                    {% else %}
                        {% for tag in tags %}<a href="/beats/{{ tag|urlencode }}">{{ tag }}</a>, {% endfor %}
                    {% endif %}
                    by <a href="{{ question.author.get_absolute_url }}">{{ question.author.username }}</a> {{ question.created|naturalday }} at {{ question.created|date:"g:i a" }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
