{% extends "base.html" %}

{% load comments %}
{% load humanize %}
{% load tagging_tags %}
{% load content_type %}
{% load watched %}

{% block title %}Question | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content">
            <div class="question clearfix">
                {% tags_for_object question as tags %}
                <div class="avatar left"><a href="{{ question.author.get_absolute_url }}"><img src="{{ MEDIA_URL }}images/avatar.jpg" alt="{{ question.author.username }}" title="{{ question.author.username }}"></a></div>
                <div class="meta left">
                    {% watched question request.user as iswatched %}
                    <a href="/watch/{{ question.content_type.id }}/{{ question.id }}" class="watch {% if iswatched %}watched{% endif %} {% if not request.user.is_authenticated %}disabled{% endif %}" id="watched-{% get_content_type_id question %}-{{ question.id }}">Watch question</a>
                    <div class="title">{{ question.question|urlizetrunc:50|linebreaks }}</div>
                    <div class="tools">
                        {% rated question request.user as israted %}
                        {% if israted %}
                            <a href="/rate/{% get_content_type_id question %}/{{ question.id }}" class="good-question rate left rated-good" id="rated-{% get_content_type_id question %}-{{ question.id }}">Good Question</a>
                        {% else %}
                            <a href="/rate/{% get_content_type_id question %}/{{ question.id }}" class="good-question rate left" id="rated-{% get_content_type_id question %}-{{ question.id }}">Good Question</a>
                        {% endif %}
                        <div class="posted">Posted in {% for tag in tags %}<a href="/beats/{{ tag|urlencode }}">{{ tag }}</a>, {% endfor %} by <a href="{{ question.author.get_absolute_url }}">{{ question.author.username }}</a> {{ question.created|naturalday }} at {{ question.created|date:"g:i a" }}</div>
                    </div>
                </div>
            </div>
            <div id="answers">
                {% get_comment_count for question as answer_count %}
                {% get_comment_list for question as answers %}
                <h2>{{ answer_count }} answer{% ifnotequal answer_count 1 %}s{% endifnotequal %}</h2>
                {% for answer in answers %}
                    <div class="answer clearfix">
                        <div class="avatar left"><a href="{{ answer.user.get_absolute_url }}"><img src="{{ MEDIA_URL }}images/avatar.jpg" alt="{{ answer.user.username }}" title="{{ answer.user.username }}"></a></div>
                        <div class="meta left">
                            <div class="title">{{ answer.comment|urlizetrunc:50|linebreaks }}</div>
                            <div class="tools">
                                {% rated answer request.user as israted %}
                                {% if israted %}
                                    <a href="/rate/{% get_content_type_id answer %}/{{ answer.id }}" class="good-answer rate left rated-good" id="rated-{% get_content_type_id answer %}-{{ answer.id }}">Good Answer</a>
                                {% else %}
                                    <a href="/rate/{% get_content_type_id answer %}/{{ answer.id }}" class="good-answer rate left" id="rated-{% get_content_type_id answer %}-{{ answer.id }}">Good Answer</a>
                                {% endif %}
                                <div class="posted">Posted by <a href="{{ answer.user.get_absolute_url }}">{{ answer.user.username }}</a> {{ answer.submit_date|naturalday }} at {{ answer.submit_date|date:"g:i a" }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if request.user.is_authenticated %}
                    <div id="new-answer" class="clearfix">
                        {% get_comment_form for question as form %}
                        <form action="/answers/post/" method="post" id="new-answer-form">
                            <div class="fields">
                                <fieldset>
                                    <legend>Your answer</legend>
                                    <div class="error disabled" id="new-answer-error">This field is required.</div>
                                    <div class="avatar left"><a href="{{ answer.user.get_absolute_url }}"><img src="{{ MEDIA_URL }}images/avatar.jpg" alt="{{ answer.user.username }}" title="{{ answer.user.username }}"></a></div>
                                    <div class="field"><label for="id_comment" style="display: none;">Answer</label> {{ form.comment }}</div>
                                    <div style="display: none;">
                                        <label for="id_name">Name</label> <input id="id_name" type="text" name="name" maxlength="50" value="{{ request.user.username }}">
                                        <label for="id_email">Email address</label> <input type="text" name="email" id="id_email" value="null@null.com">
                                        <label for="id_url">URL</label> <input type="text" name="url" id="id_url" value="http://null.com">
                                        <label for="id_honeypot">If you enter anything in this field your comment will be treated as spam</label> {{ form.honeypot }}
                                        <input type="hidden" name="next" value="{{ question.get_absolute_url }}">
                                        {{ form.content_type }}
                                        {{ form.object_pk }}
                                        {{ form.timestamp }}
                                        {{ form.security_hash }}
                                    </div>
                                </fieldset>
                                <input type="submit" name="post" class="submit right" value="Submit answer">
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div id="answer-not-logged-in"><a href="{% url registration_register %}?next={{ request.META.PATH_INFO }}">Signup</a> or <a href="{% url user_signin %}?next={{ request.META.PATH_INFO }}">Login</a> to give your 2&cent;</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="content-right">
        {% include "includes/ask-a-question.html" %}
    </div>
{% endblock %}
