{% load comments %}
{% load tagging_tags %}
{% load humanize %}
{% load smart_if %}

{% for question in questions %}
    {% get_comment_count for question as comment_count %}
    {% tags_for_object question as tags %}
    <div class="question clearfix">
        <div class="avatar left"><a href="{{ question.author.get_absolute_url }}"><img src="{{ MEDIA_URL }}images/avatar.jpg" alt="{{ question.author.username }}" title="{{ question.author.username }}"></a></div>
        <div class="meta left">
            <div class="answers-number right" title="# of answers + question points + answer points">{{ comment_count }}</div>
            <a href="{{ question.get_absolute_url }}" class="title">{{ question.question }}</a>
            <div class="answers">{{ comment_count }} answer{% ifnotequal comment_count 1 %}s{% endifnotequal %}</div>
            <div class="tools">
                <a href="#" class="good-question left">Good Question</a>
                <div class="posted">
                    Posted in 
                    {% if tags.count > 4 %}
                         <a href="{{ question.get_absolute_url }}">{{ tags.count }} tags</a>
                    {% else %}
                        {% for tag in tags %}<a href="/beats/{{ tag|urlencode }}">{{ tag }}</a>, {% endfor %}
                    {% endif %}
                    by <a href="{{ question.author.get_absolute_url }}">{{ question.author.username }}</a> {{ question.created|naturalday }} at {{ question.created|date:"g:i a" }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
