{% extends "base.html" %}

{% block content %}

{% if validlink %}
    <div id="login-page" class="clearfix">
        <div class="left login-account">
            <form action="" method="post">
                <div class="fields">
                    <fieldset>
                        <legend>Reset your password</legend>
                        <div class="info"><em>We'll get you all fixed up.</em> Enter your new password here, and try to be more careful next time.</div>
                        {% if form.new_password1.errors %}<div class="error">{{ form.new_password1.errors }}</div>{% endif %}
                        <div class="field"><label for="id_new_password1">Password</label>{{ form.new_password1 }}</div>
                        {% if form.new_password2.errors %}<div class="error">{{ form.new_password2.errors }}</div>{% endif %}
                        <div class="field"><label for="id_new_password2">Confirm</label>{{ form.new_password2 }}</div>
                    </fieldset>
                    <input type="submit" value="Change my password" class="submit right">
                </div>
            </form>
        </div>
    </div>
{% endif %}
{% if not validlink %}
    <div class="clearfix page-message">
        <p>This password reset link is invalid, possibly because it's already been used. Please <a href="/user/password/reset">request a password reset again</a>.</p>
    </div>
{% endif %}

{% endblock %}
