{% extends "base.html" %}

{% block content %}

<div id="login-page" class="clearfix">
    <div class="left login-account">
        <form action="" method="post">
            <div class="fields">
                <fieldset>
                    <legend>Password reset</legend>
                    <div class="info"><em>Forget your password?</em> It happens. Give us your email and we'll send you along some instructions to reset it.</div>
                    {% if form.email.errors %}<div class="error">{{ form.email.errors }}</div>{% endif %}
                    <div class="field"><label for="id_email">Email</label>{{ form.email }}</div>
                </fieldset>
                <input type="submit" value="Hook me up" class="submit right">
            </div>
        </form>
    </div>
    <div class="left login-openid">
        <form id="reg_form" name="reg_form" action="/user/signup/" method="post"> 
            <div class="fields"> 
                <fieldset> 
        	        <legend>Need to signup?</legend>
        	        <div class="field"><label for="id_username">Username</label><input id="id_username" type="text" class="required" name="username" maxlength="30" /></div>
            	    <div class="field"><label for="id_email">Email</label><input id="id_email" type="text" class="required" name="email" maxlength="75" /></div>
            	    <div class="field"><label for="id_password1">Password</label><input id="id_password1" type="password" class="required" name="password1" /></div>
            	    <div class="field"><label for="id_password2">Confirm</label><input id="id_password2" type="password" class="required" name="password2" /></div>
            	 </fieldset>
            	 <input type="submit" name="bsignup'" value="Let's do this" class="submit right">
            </div> 
        </form>
    </div>
</div>

{% endblock %}
