{% extends "base.html" %}

{% block title %}
{{ block.super }} - Register for an account
{% endblock %}

{% block main %}
<form action="{% url registration_register %}" method="POST">

	<fieldset>
	  <legend>New User Registration</legend>
	  <ul>
	    <li>
	      <label for="name">Username</label> {{ form.username }}
				{% for error in form.username.errors %}
        	<span style="color:red">{{ error }}</span>
        {% endfor %}
	    </li>
	    <li>
	      <label for="email">E-mail Address</label> {{ form.email }}
        {% for error in form.email.errors %}
        	<span style="color:red">{{ error }}</span>
        {% endfor %}
	    </li>
	    <li>
	      <label for="password1">Password</label> {{ form.password1 }}
        {% for error in form.password1.errors %}
        	<span style="color:red">{{ error }}</span>
        {% endfor %}
	    </li>
	    <li>
	      <label for="password2">Re-type Password</label> {{ form.password2 }}
        {% for error in form.password2.errors %}
        	<span style="color:red">{{ error }}</span>
        {% endfor %}
	    </li>
			<li><input type="submit" value="Register" /></li>
	  </ul>
	</fieldset>

</form>
{% endblock %}