/* Eric's CSS reset (http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
body {line-height: 1; color: black; background: white;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* Clearfix (http://www.positioniseverything.net/easyclearing.html) */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* */

/* Generic */
.left {float: left;}
.right {float: right;}
em {font-style: italic;}
strong {font-weight: bold;}

/* Forms */
fieldset input, #search input {
    border: 1px solid #ACACAC;
    border-radius: 5px;
    border-bottom: 0;
    border-right: 0;
    color: #878787;
    font: bold 14px "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    margin: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
fieldset input {background-color: #F0F0F0; border-color: #A6A6A6; color: #3D3D3D; padding: 5px;}
fieldset .info {color: #878787; line-height: 18px; margin-bottom: 25px; width: 289px;}
legend {color: #3d3d3d; font-size: 24px; font-weight: bold; padding-bottom: 25px;}
label {color: #9b9b9b; float: left; font-size: 18px; font-weight: bold; width: 115px;}
div.success {
    background-color: #FDFDE0;
    color: #4D921D;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 15px;
    padding: 10px;
}
div.error {
    background-color: #FDFDE0;
    color: #B42036;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    width: 269px;
}
div.error a {color: #B42036; text-decoration: underline;}

/* General structure */
body {color: #3E3E3E; font: 14px "Helvetica Neue", Helvetica, Arial, Sans-Serif;}
body a {color: #07A4E7; text-decoration: none;}
body a:hover {text-decoration: underline;}
.frame {margin: 0 auto; width: 950px;}

/* Generic styles */
.page-message {color: #3d3d3d; font-size: 24px; font-weight: bold; margin: 50px auto; width: 475px;}

/* Header */
#header {background-color: #EAEAEA;}
#header .right {text-align: right;}
#logo {margin: 35px 0;}
#user-tag {
    border: 1px solid transparent;
    float: right;
    font-size: 14px;
    height: 21px;
    margin-top: 7px;
    padding-top: 5px;
    position: relative;
    width: 220px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#user-tag.enabled {
    border: 1px solid #CECECE;
    background-color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#user-options-arrow {
    background-color: #FFF;
    border: 1px solid #CECECE;
    display: block;
    float: right;
    margin-left: 8px;
    padding: 7px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#user-tag.enabled #user-options-arrow {border-color: transparent;}
#user-options-list {
    background-color: #FFF;
    border: 1px solid #CECECE;
    border-top: 0;
    display: none;
    padding: 10px;
    position: absolute;
    right: -1px;
    top: 25px;
    width: 200px;
    border-radius: 3px;
    border-radius-top-right: 0;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 0;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0;
}
#user-tag.enabled #user-options-list {display: block;}
#user-options-list a {display: block;}
#user-username {float: right; margin-top: 1px;}

/* Search */
#search input {
    font: bold 20px Helvetica, Arial, Sans-Serif;
    font-size: 20px;
    margin-top: 13px;
    padding: 12px;
    width: 291px;
}

/* Login */
#login-page {margin: 0 auto; width: 680px;}
#login-page .field {margin: 5px 0;}
#login-page .submit {margin-top: 5px;}
#openid-badge {margin-right: 7px; vertical-align: -2px;}
.login-account {border-right: 1px solid #BFBFBF; margin-right: 50px; padding-right: 50px;}

/* Footer */
#footer {background-color: #EAEAEA; padding: 25px 0;}
#footer-colophon {color: #B2B2B2; font-size: 18px; font-weight: bold; line-height: 25px; margin-top: 4px; width: 460px;}
#footer-cc-logo {margin-top: 11px;}
#footer-logo {margin-top: 18px;}
#footer-nav {border-left: 5px solid #CFCFCF; font-weight: bold; margin-left: 20px; padding: 2px 0;}
#footer-nav a {display: block; padding: 2px 0 2px 20px;}

/* Content */
#content {padding: 10px 0;}
#content-left {float: left; width: 635px;}
#content-right {float: left; width: 315px;}
#content-selector li {display: inline;}
#content-selector li a, #new-question {
    background-color: #E5E5E5;
    border-radius: 5px;
    color: #898989;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 39px;
    margin-right: 10px;
    padding-top: 10px;
    text-align: center;
    width: 202px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#content-selector li a:hover {color: #3D3D3D; text-decoration: none;}
#content-selector li.last a {margin-right: 0; width: 201px;}
#content-selector li.active a, #new-question {background-color: #3D3D3D; color: #FFF; position: relative;}
#new-question {background: #3D3D3D url('/media/images/new-question-icon.png') 49px center no-repeat; padding-left: 47px; width: 268px;}
#new-question:hover {text-decoration: none;}
#main-content {margin-top: 10px;}
#selector-active-arrow {position: absolute; top: 49px; left: 50%;}

/* Questions */
#question-list .question {border-top: 1px solid #E5E5E5; padding: 15px 0; width: 625px;}
#question-list .question .avatar {width: 85px;}
#question-list .question .meta {width: 540px;}
#question-list .question .title {color: #3e3e3e; font-size: 21px; font-weight: bold; text-decoration: none;}
#question-list .question .title:hover {color: #49B2E8;}
#question-list .question .answers {color: #c6c6c6;}
#question-list .question .tools {clear: left; margin-top: 10px;}
#question-list .question .answers-number {color: #eaeaea; font-size: 60px; font-weight: bold; line-height: 40px; margin-left: 40px;}
#question-list .question .posted {color: #9b9b9b; float: left; font-family: Arial; font-size: 11px; margin: 4px 0 0 10px;}
#question-list .question .good-question {
    background: #E5E5E5 url('/media/images/plus.gif') 5px center no-repeat;
    border-radius: 3px;
    color: #9b9b9b;
    display: block;
    font-family: "Arial Rounded MT Bold", Arial;
    font-size: 10px;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 19px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#question-list .question .good-question:hover {color: #49B2E8; text-decoration: none;}
