<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

    {% load compressed %}
    
    <title>{% block title %}ReportingOn - The backchannel for your beat.{% endblock %}</title>

    <meta name="keywords" content="reportingon">
    <meta name="description" content="ReportingOn - The backchannel for your beat.">
    <meta name="language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en">

    {% compressed_css 'all' %}
    {% compressed_js  'all' %}

</head>

<body{% block body_styles %}{% endblock %}>

<div id="header" class="clearfix">
    <div class="content frame">
        <div class="left">
            <a href="/" title="Home | ReportingOn"><img id="logo" src="{{ MEDIA_URL }}images/logo.gif" alt="Home | ReportingOn" title="Home | ReportingOn"></a>
        </div>
        <div class="right">
            <div id="user-tag" class="clearfix">
                {% if not user.is_authenticated %}<a href="{% url registration_register %}">Signup</a> or <a href="{% url user_signin %}">Login</a>{% endif %}
                {% if user.is_authenticated %}
                    <div id="user-options" class="clearfix">
                        <span id="user-options-arrow"><img class="left" src="{{ MEDIA_URL }}images/user-options-arrow.gif" alt="User options" title="User options"></span>
                        <div id="user-username">I am <a href="/{{ request.user.get_absolute_url }}">{{ request.user.username }}</a></div>
                        <ul id="user-options-list">
                            <li><a href="{{ request.user.get_absolute_url }}">My profile</a></li>
                            {% if user.is_superuser %}<li><a href="/admin">Administration</a></li>{% endif %}
                            <li><a href="/user/signout">Logout</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div id="search">
                <form id="search-form" action="/search" method="get">
                    <div id="search-field">
                        <input type="text" name="query" value="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="content" class="frame clearfix">
    {% block content %}{% endblock %}
</div>
<div id="footer" class="clearfix">
    <div class="content frame">
        <div class="left">
            <div class="left" id="footer-logo">
                <a href="/" title="Home | ReportingOn"><img src="{{ MEDIA_URL }}images/logo-footer.gif" alt="Home | ReportingOn" title="Home | ReportingOn"></a>
            </div>
            <ul class="left" id="footer-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="http://feedback.reportingon.com">Feedback</a></li>
            </ul>
        </div>
        <div class="right">
            <div class="left" id="footer-colophon">
                ReportingOn is a <a href="http://newschallenge.org">Knight News Challenge</a> project<br>
                spearheaded by <a href="http://ryansholin.com">Ryan Sholin</a> with the help of the<br>
                <a href="http://lionburger.com?from=reportingon.com">Lion Burger</a> crew. It’s <a href="http://code.google.com/p/reportingon">open source</a>.
            </div>
            <div class="right">
                <a href="http://creativecommons.org/licenses/by-nc-sa/3.0" title="Attribution-Noncommercial-Share Alike 3.0 Unported"><img id="footer-cc-logo" src="{{ MEDIA_URL }}images/cc-logo-footer.gif" alt="Attribution-Noncommercial-Share Alike 3.0 Unported" title="Attribution-Noncommercial-Share Alike 3.0 Unported"></a>
            </div>
        </div>
    </div>
</div>

{% if not debug %}
    <script type="text/javascript">
        //<![CDATA[
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        //]]>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        try {
        var pageTracker = _gat._getTracker("UA-79850-2");
        pageTracker._trackPageview();
        } catch(err) {}
        //]]>
    </script>
{% endif %}

</body>

</html>
