{% extends "base.html" %}

{% block title %}Beats | {{ block.super }}{% endblock %}

{% load pagination_tags %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content">
            <h1><a href="/watch/{{ beat.content_type.id }}/{{ beat.id }}" class="watch {% if not request.user.is_authenticated %}disabled{% endif %}">Watch beat</a><a href="/beats">Beats</a> &raquo; {{ beat }}</h1>
            <div id="question-list">
                {% autopaginate questions 10 %}
                <div class="question-count">
                    {% if page_obj.has_next or page_obj.has_previous %}<div class="pages right">{% paginate %}</div>{% endif %}showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} questions
                </div>
                {% include "questions-list.html" %}
                <div class="question-count bottom">
                    {% if page_obj.has_next or page_obj.has_previous %}<div class="pages right">{% paginate %}</div>{% endif %}showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} questions
                </div>
            </div>
        </div>
    </div>
    <div id="content-right">
        {% include "includes/ask-a-question.html" %}
    </div>
{% endblock %}
