{% extends "base.html" %}

{% block feed %}<link rel="alternate" type="application/rss+xml" title="ReportingOn Beat: {{ beat }}" href="/feeds/beat/{{ beat }}">{% endblock %}

{% load content_type %}
{% load watched %}

{% block title %}Beats | {{ block.super }}{% endblock %}

{% load pagination_tags %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content">
            <h1>
                {% watched beat request.user as iswatched %}
                <a href="/watch/{% get_content_type_id beat %}/{{ beat.id }}" class="watch {% if iswatched %}watched{% endif %} {% if not request.user.is_authenticated %}disabled{% endif %}" id="watched-{% get_content_type_id beat %}-{{ beat.id }}">Watch beat</a>
                <a href="/beats">Beats</a> &raquo; {{ beat }}
            </h1>
            <div id="question-list">
                {% autopaginate questions 10 %}
                <div class="question-count">
                    {% if page_obj.has_next or page_obj.has_previous %}<div class="pages right">{% paginate %}</div>{% endif %}showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} questions
                </div>
                {% include "questions-list.html" %}
                <div class="question-count bottom">
                    {% if page_obj.has_next or page_obj.has_previous %}<div class="pages right">{% paginate %}</div>{% endif %}showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} questions
                </div>
            </div>
        </div>
    </div>
    <div id="content-right">
        {% include "includes/ask-a-question.html" %}
        {% include "includes/latest-questions.html" %}
        {% include "includes/popular-beats.html" %}
    </div>
{% endblock %}
