{% extends "base.html" %}

{% block title %}Beats | {{ block.super }}{% endblock %}

{% load comments %}
{% load tagging_tags %}
{% load humanize %}
{% load pagination_tags %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content">
            <a href="/watch/beat/{{ beat|urlencode }}" class="watch">Watch beat</a>
            <h1><a href="/beats">Beats</a> &raquo; {{ beat }}</h1>
            <div id="question-list">
                {% autopaginate questions 10 %}
                <div class="question-count">
                    {% if page_obj.has_next or page_obj.has_previous %}<div class="pages right">{% paginate %}</div>{% endif %}showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} questions
                </div>
                {% for question in questions %}
                    {% get_comment_count for question as comment_count %}
                    {% tags_for_object question as tags %}
                    <div class="question clearfix">
                        <div class="avatar left"><a href="{{ question.author.get_absolute_url }}"><img src="{{ MEDIA_URL }}images/avatar.jpg" alt="{{ question.author.username }}" title="{{ question.author.username }}"></a></div>
                        <div class="meta left">
                            <div class="answers-number right" title="# of answers + question points + answer points">{{ comment_count }}</div>
                            <a href="{{ question.get_absolute_url }}" class="title">{{ question.question }}</a>
                            <div class="answers">{{ comment_count }} answer{% ifnotequal comment_count 1 %}s{% endifnotequal %}</div>
                            <div class="tools">
                                <a href="#" class="good-question left">Good Question</a>
                                <div class="posted">Posted in {% for tag in tags %}<a href="/beats/{{ tag|urlencode }}">{{ tag }}</a>, {% endfor %} by <a href="{{ question.author.get_absolute_url }}">{{ question.author.username }}</a> {{ question.created|naturalday }} at {{ question.created|date:"g:i a" }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="question-count bottom">
                    {% if page_obj.has_next or page_obj.has_previous %}<div class="pages right">{% paginate %}</div>{% endif %}showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} questions
                </div>
            </div>
        </div>
    </div>
    <div id="content-right">
        {% include "includes/ask-a-question.html" %}
    </div>
{% endblock %}
