{% extends "base.html" %}

{% block title %}Watched | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content">
						<div style="font-size: 1.2em">
						{% for item in watched_activity %}
                <p style="padding-top: .4em;line-height:1.2em">{{ item.description|safe }} <span style="font-size: .8em;color: #888;white-space: nowrap;">{{ item.date|timesince }} ago</span></p>
            {% endfor %}
						</div>
            <a href="{% url questions.views.list_questions %}">Browse all questions</a>
        </div>
    </div>
    <div id="content-right">
        {% include "includes/ask-a-question.html" %}
    </div>
{% endblock %}
