{% extends "base.html" %}

{% block title %}My profile | {{ block.super }}{% endblock %}

{% block feed %}<link rel="alternate" type="application/rss+xml" title="ReportingOn Search: {{ query }}" href="/feeds/search/{{ query }}">{% endblock %}

{% load pagination_tags %}
{% load watched %}
{% load content_type %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content" class="search-page">
        	<form action="/search/" method="GET">
        	    <div class="fields">
            	    <div class="search-field">
            	        You looked for <label for="query" class="disabled">Search </label><input type="text" id="query" name="query" value="{{ query }}">
            	        <input type="submit" value="Search again" class="submit">
            	    </div>
                </div>
        	</form>
        	{% if questions %}
            	<div class="watch-search clearfix">
            	    {% watched search_obj request.user as iswatched %}
            	    <a href="/save-search/{{ query }}" class="watch {% if iswatched %}watched{% endif %} {% if not request.user.is_authenticated %}disabled{% endif %}" id="watched-{% if not request.user.is_authenticated %}anon{% else %}{% get_content_type_id request.user %}{% endif %}-{{ search_obj.id }}">Watch search</a>
            	</div>
        	{% endif %}
        	<div id="search-found">
        	    <h2>
            	    {% if questions %}
            	        {% autopaginate questions 10 %}
            	        <div class="question-count">
                            {% if page_obj.has_next or page_obj.has_previous %}<div class="pages right">{% paginate %}</div>{% endif %}showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} questions
                        </div>
            	    {% endif %}
            	    {% if not questions %}
            	        We couldn't find anything for that.
            	    {% endif %}
            	</h2>
        	</div>
        	{% if questions %}
        		{% include "questions-list.html" %}
        	{% endif %}
        	{% if questions %}
    	        <div class="question-count bottom">
                    {% if page_obj.has_next or page_obj.has_previous %}<div class="pages right">{% paginate %}</div>{% endif %}showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} questions
                </div>
    	    {% endif %}
        </div>
    </div>
    <div id="content-right">
        {% include "includes/ask-a-question.html" %}
    </div>
{% endblock %}
