/* Eric's CSS reset (http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
body {line-height: 1; color: black; background: white;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* Clearfix (http://www.positioniseverything.net/easyclearing.html) */

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* */

/* Generic */

.left {float: left;}
.right {float: right;}
em {font-style: italic;}
strong {font-weight: bold;}

/* General structure */

body {color: #3E3E3E; font: 14px "Helvetica Neue", Helvetica, Arial, Sans-Serif;}
body a {color: #07A4E7; text-decoration: none;}
body a:hover {text-decoration: underline;}
.frame {margin: 0 auto; width: 950px;}

/* Header */

#header {background-color: #EAEAEA;}
#header .right {text-align: right;}
#logo {margin: 35px 0;}
#user-tag {
    border: 1px solid transparent;
    float: right;
    font-size: 14px;
    margin-top: 7px;
    padding-top: 5px;
    position: relative;
    width: 220px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#user-tag.enabled {
    border: 1px solid #CECECE;
    background-color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#user-options-arrow {
    background-color: #FFF;
    border: 1px solid #CECECE;
    display: block;
    float: right;
    margin-left: 8px;
    padding: 7px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#user-tag.enabled #user-options-arrow {border-color: transparent;}
#user-options-list {
    background-color: #FFF;
    border: 1px solid #CECECE;
    border-top: 0;
    display: none;
    padding: 10px;
    position: absolute;
    right: -1px;
    top: 25px;
    width: 200px;
    border-radius: 3px;
    border-radius-top-right: 0;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 0;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0;
}
#user-tag.enabled #user-options-list {display: block;}
#user-options-list a {display: block;}
#user-username {float: right; margin-top: 1px;}

/* Search */

#search input {
    border: 1px solid #ACACAC;
    border-radius: 5px;
    border-bottom: 0;
    border-right: 0;
    color: #878787;
    font: bold 20px Helvetica, Arial, Sans-Serif;
    margin-top: 13px;
    padding: 12px;
    width: 291px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Footer */

#footer {background-color: #EAEAEA; padding: 25px 0;}
#footer-colophon {color: #B2B2B2; font-size: 18px; font-weight: bold; line-height: 25px; margin-top: 4px; width: 460px;}
#footer-cc-logo {margin-top: 11px;}
#footer-logo {margin-top: 18px;}
#footer-nav {border-left: 5px solid #CFCFCF; font-weight: bold; margin-left: 20px; padding: 2px 0;}
#footer-nav a {display: block; padding: 2px 0 2px 20px;}

/* Content */

#content {padding: 15px 0;}
