/* Eric's CSS reset (http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
body {line-height: 1; color: black; background: white;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* Clearfix (http://www.positioniseverything.net/easyclearing.html) */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* */

/* Generic */
.left {float: left;}
.right {float: right;}
.disabled {display: none;}
em {font-style: italic;}
strong {font-weight: bold;}
h1 {color: #3d3d3d; font-size: 24px; font-weight: bold;}
h2 {color: #9b9b9b; font-size: 24px; font-weight: bold;}

/* Forms */
fieldset input, #search input, fieldset textarea, #query {
    border: 1px solid #ACACAC;
    border-radius: 5px;
    border-bottom: 0;
    border-right: 0;
    color: #878787;
    font: bold 14px "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    margin: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
fieldset input, fieldset textarea {background-color: #F0F0F0; border-color: #A6A6A6; color: #3D3D3D; padding: 5px;}
fieldset .info {color: #878787; line-height: 18px; margin-bottom: 25px; width: 289px;}
legend {color: #3d3d3d; font-size: 24px; font-weight: bold; padding-bottom: 25px;}
label {color: #9b9b9b; float: left; font-size: 18px; font-weight: bold; width: 115px;}
div.success {
    background-color: #FDFDE0;
    color: #4D921D;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 15px;
    padding: 10px;
}
div.error {
    background-color: #FDFDE0;
    color: #B42036;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    width: 269px;
}
div.error a {color: #B42036; text-decoration: underline;}

/* General structure */
body {color: #3E3E3E; font: 14px "Helvetica Neue", Helvetica, Arial, Sans-Serif;}
body a {color: #07A4E7; text-decoration: none;}
body a:hover {text-decoration: underline;}
.frame {margin: 0 auto; width: 950px;}

/* Generic styles */
.page-message {color: #3d3d3d; font-size: 24px; font-weight: bold; margin: 50px auto; width: 475px;}

/* Header */
#header {background-color: #EAEAEA; height: 135px;}
#header .right {text-align: right;}
#logo {margin: 35px 0;}
#user-tag {
    border: 1px solid transparent;
    float: right;
    font-size: 14px;
    height: 21px;
    margin-top: 7px;
    padding-top: 5px;
    position: relative;
    width: 220px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#user-tag.enabled {
    border: 1px solid #CECECE;
    background-color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#user-options-arrow {
    background-color: #FFF;
    border: 1px solid #CECECE;
    display: block;
    float: right;
    margin-left: 8px;
    padding: 7px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#user-tag.enabled #user-options-arrow {border-color: transparent;}
#user-options-list {
    background-color: #FFF;
    border: 1px solid #CECECE;
    border-top: 0;
    display: none;
    padding: 10px;
    position: absolute;
    right: -1px;
    top: 25px;
    width: 200px;
    border-radius: 3px;
    border-radius-top-right: 0;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 0;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0;
}
#user-tag.enabled #user-options-list {display: block;}
#user-options-list a {display: block;}
#user-username {float: right; margin-top: 1px;}

/* Search */
#search input {
    font: bold 20px Helvetica, Arial, Sans-Serif;
    font-size: 20px;
    margin-top: 13px;
    padding: 12px;
    width: 291px;
}
.search-field {font-size: 24px; font-weight: bold; padding-bottom: 25px; padding-top: 15px;}
.search-field .submit {font-size: 18px;}
#query {
    background-color: #F0F0F0;
    border-color: #A6A6A6;
    color: #3D3D3D;
    font: bold 20px Helvetica, Arial, Sans-Serif;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 13px;
    padding: 8px;
    width: 291px;
}
#search-found {margin-bottom: 10px;}
.watch-search {margin-bottom: 10px;}

/* Login */
#login-page {margin: 0 auto; width: 680px;}
#login-page .field, #homepage .sidebar .field {margin: 5px 0;}
#login-page .submit {margin-top: 5px;}
#openid-badge {margin-right: 7px; vertical-align: -2px;}
.login-account {border-right: 1px solid #BFBFBF; margin-right: 50px; padding-right: 50px;}
.supplement {clear: left; float: left; text-align: center; width: 100%; margin: 40px auto;}

/* Footer */
#footer {background-color: #EAEAEA; padding: 25px 0;}
#footer-colophon {color: #B2B2B2; font-size: 18px; font-weight: bold; line-height: 25px; margin-top: 4px; width: 460px;}
#footer-cc-logo {margin-top: 11px;}
#footer-logo {margin-top: 18px;}
#footer-nav {border-left: 5px solid #CFCFCF; font-weight: bold; margin-left: 20px; padding: 2px 0;}
#footer-nav a {display: block; padding: 2px 0 2px 20px;}

/* Homepage */
.homepage #content {padding: 0;}
#homepage #main-content h1 {font-size: 36px; letter-spacing: -1px; padding: 0 !important;}
#homepage #main-content h2 {font-size: 18px; margin-top: 15px;}
#homepage #main-content .activity h2, #homepage #main-content #question-list h2 {font-size: 24px; margin: 0; margin-top: 30px; margin-bottom: 15px;}
#homepage #main-content-container {border-right: 6px solid #F7F7F7; padding-right: 2px; width: 627px;}
#homepage #main-content {border-right: 6px solid #EAEAEA; margin: 0; padding: 30px 0; padding-right: 15px;}
#homepage .sidebar {padding-top: 30px; padding-left: 26px; width: 289px;}
#homepage #question-list .question {width: 606px;}
#homepage #question-list .question .meta {width: 521px;}

/* Content */
#content {padding: 10px 0;}
#content-left {float: left; width: 635px;}
#content-right {float: left; width: 315px;}
#content-selector li {display: inline;}
#content-selector li a, #new-question, .edit-profile {
    background-color: #E5E5E5;
    border-radius: 5px;
    color: #898989;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 39px;
    margin-right: 10px;
    padding-top: 10px;
    text-align: center;
    width: 202px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#content-selector li a:hover, .edit-profile:hover {color: #3D3D3D; text-decoration: none;}
#content-selector li.last a {margin-right: 0; width: 201px;}
#content-selector li.active a, #new-question {background-color: #3D3D3D; color: #FFF; position: relative;}
#new-question {background: #3D3D3D url('/media/images/new-question-icon.png') 49px center no-repeat; padding-left: 47px; width: 268px;}
#new-question:hover {text-decoration: none;}
#main-content {clear: left; margin-top: 10px; margin-right: 10px;}
.new-question #main-content {margin-right: 0;}
#main-content h1 {padding-top: 15px; padding-bottom: 25px;}
#selector-active-arrow {position: absolute; top: 49px; left: 50%;}

/* Questions and Answers */
.question, .answer {border-top: 1px solid #E5E5E5; padding: 15px 0; width: 625px;}
.avatar {width: 85px;}
.avatar img {float: left;}
.avatar a, #profile-image {
    display: block;
    height: 70px;
    position: relative;
    width: 70px;
    -moz-background-size: 70px 70px;
    -moz-border-radius: 5px;
    -webkit-background-size: 70px 70px;
    -webkit-border-radius: 5px;
}
#profile-image {height: 165px; width: 165px; -moz-background-size: 165px 165px; -webkit-background-size: 165px 165px;}
.avatar a span, #profile-image span {
    background-color: #ec9b44;
    bottom: 0;
    color: #f4f4f4;
    font: 18px "Arial Rounded MT Bold", Arial, Sans-Serif;
    padding: 1px 5px;
    position: absolute;
    right: 0;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}
.avatar a:hover {text-decoration: none;}
.question {clear: right;}
.question .meta, .answer .meta {width: 540px;}
.question .title, .question .answers {color: #3e3e3e; display: block; font-size: 21px; font-weight: bold; text-decoration: none;}
.question .title p, .answer .title p {margin: 1em 0;}
.answer .title p {line-height: 1.3em;}
.question .title p:first-child, .answer .title p:first-child {margin: 0;}
.question a.title:hover {color: #49B2E8;}
.question .answers {color: #c6c6c6; display: block;}
.question .tools, .answer .tools {clear: left; margin-top: 10px;}
.question .answers-number {color: #eaeaea; font-size: 60px; font-weight: bold; line-height: 40px; margin-left: 40px;}
.question .posted, .answer .posted {color: #9b9b9b; float: left; font-family: Arial; font-size: 11px; margin: 4px 0 0 10px; width: 270px;}
.question .good-question, .answer .good-answer, .watch {
    background: #E5E5E5 url('/media/images/plus.gif') 5px center no-repeat;
    border-radius: 3px;
    color: #9b9b9b;
    display: block;
    font-family: "Arial Rounded MT Bold", Arial;
    font-size: 10px;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 19px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.question-count {
    background-color: #F0F0F0;
    border-radius: 5px;
    color: #898989;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.question-count.bottom {margin-top: 10px; margin-bottom: 0;}
.answer .good-answer {background-image: url('/media/images/plus-answer.gif');}
.question .good-question:hover {color: #49B2E8; text-decoration: none;}
.answer .good-answer:hover {color: #FB7119; text-decoration: none;}
#answers h2 {margin: 10px 0 10px 85px;}
#answers legend {color: #9B9B9B; display: block; line-height: auto; padding-left: 85px; padding-bottom: 10px;}
#new-answer, #answer-not-logged-in {border-top: 1px solid #E5E5E5; padding: 10px 0; width: 625px;}
#new-answer h2 {margin-top: 0;}
#new-answer textarea {height: 60px; width: 529px;}
#new-answer .submit {margin-top: 10px;}
#new-answer .error {margin-top: 0; width: 605px;}
.watch {background-image: url('/media/images/plus-watch.gif'); float: right; margin-left: 10px;}
.watch:hover {color: #22C332; text-decoration: none;}
.pagination {vertical-align: middle;}
#beat-cloud li {display: inline;}
.beat-size-1 {font-size: 14px;}
.beat-size-2 {font-size: 18px;}
.beat-size-3 {font-size: 20px;}
.beat-size-4 {font-size: 22px;}
#answer-not-logged-in {font-size: 18px; font-weight: bold; padding-left: 85px; width: 540px;}
.watching, .watching:hover, .rated-good, .rated-good:hover, .watched, .watched:hover {background-color: #D8ECC6 !important; background-image: url('/media/images/plus-marked.gif') !important; color: #9B9B9B !important;}
.loading, .loading:hover {background-image: url('/media/images/loading.gif') !important; background-position: 5px 6px !important;}
.answer-to {font-size: 14px !important; font-style: italic; margin-bottom: 3px;}
.answer-to span {color: #ff8400;}
.answer-to a {color: #9b9b9b;}

/* New Question */
.new-question legend {padding-top: 15px;}
.new-question div.error {width: 930px;}
.new-question label {float: left; width: 100px;}
.new-question textarea {height: 100px; font-size: 18px; width: 839px;}
.new-question div.tags {margin: 10px 0;}
.new-question input.submit {margin-bottom: 15px; margin-left: 100px;}

/* Profile */
.profile {border-top: 1px solid #E5E5E5; margin-right: 0 !important; padding: 10px 15px 0 0;}
.profile .meta {float: left; margin-left: 15px; width: 440px;}
.profile h1, .profile h2 {margin: 0; padding: 0 !important;}
.profile h1 {margin-top: 5px;}
.profile .meta h2 {font-style: italic; font-size: 18px; line-height: auto;}
.profile-sidebar {
    border-left: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    margin-top: 10px;
    padding: 15px;
    float: left;
    width: 284px;
}
#profile-image {float: left; width: 165px;}
.profile dl {clear: left; margin-top: 15px;}
.profile dt, .profile dd {float: left; font-weight: bold; line-height: 22px; margin-top: 5px;}
.profile dt {clear: left; color: #9b9b9b; font-size: 14px; width: 80px;}
.profile dd {color: #3d3d3d; font-size: 18px; width: 360px;}
.profile .watch {margin-top: 5px;}
.edit-profile {float: right; height: auto; margin: 0 !important; padding: 5px 30px !important; width: auto;}
.profile-sidebar h2 {margin-bottom: 10px;}
.profile-sidebar ul {margin-bottom: 30px;}
.profile-sidebar ul:last-child {margin-bottom: 0;}
.profile-sidebar li a {display: block; float: left; font-size: 18px; font-weight: bold; padding: 1px 0; width: 100%;}
.activity {margin-top: 35px; clear: left;}
.activity li {background: transparent url('/media/images/activity-bullet.gif') 0 5px no-repeat; font-size: 18px; font-weight: bold; margin: 15px 0; padding-left: 32px;}
.activity li:hover {background-position: 0 -82px;}
.activity li span {color: #D1D1D1;}
.activity h2 {margin-bottom: 13px;}
.grav-edit {font-size: 18px; font-weight: bold;}

#edit_form {margin-top: 15px;}
#edit_form .field {margin: 5px 0;}
#edit_form label {width: 190px;}
#edit_form fieldset input, #edit_form fieldset textarea {width: 239px;}
#edit_form div.error {width: 420px;}

#twitter_update_list li:first-child {border-top: 1px solid #E5E5E5; padding-top: 15px;}
#twitter_update_list li {color: #3d3d3d; font-size: 16px; font-weight: bold; border-bottom: 1px solid #E5E5E5; margin: 15px 0; padding-bottom: 15px;}
#twitter_update_list li a {display: inline !important; float: none; font-weight: bold; font-size: 16px;}

/* Sidebar modules */
.sidebar-module {
    background-color: #EDEDED;
    border-radius: 10px;
    clear: left;
    float: left;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.sidebar-module .inner {
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar-module .inner h2 {
    background-color: #E5E5E5;
    border-bottom: 1px solid #CFCFCF;
    color: #3e3e3e;
    font-size: 22px;
    padding: 8px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}
.sidebar-module .inner h2 img {float: left; margin-right: 8px;}
.sidebar-module .inner ul {
    background-color: #FFF;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.sidebar-module .inner li:last-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.sidebar-module .inner li a {padding: 10px;}
.sidebar-module .inner #latest-questions li a {padding: 10px 10px 10px 32px;}
.sidebar-module .inner li a {color: #3e3e3e; display: block; font-weight: bold;}
.sidebar-module .inner li a:hover {color: #07A4E7; text-decoration: none;}
.sidebar-module .inner li.even {background-color: #F4F4F4 !important;}
.sidebar-module .inner #latest-questions li {background: transparent url('/media/images/question-icon.png') 10px 14px no-repeat;}

/* Autocomplete tags */
.ac_results {padding: 0px; border: 1px solid #A6A6A6; background-color: white; overflow: hidden; z-index: 99999;}
.ac_results ul {width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0;}
.ac_results li {margin: 0px; padding: 2px 5px; cursor: default; display: block;	font: menu; font-size: 12px; line-height: 16px; overflow: hidden;}
.ac_loading {background: white url('/media/images/indicator.gif') right center no-repeat;}
.ac_odd {background-color: #eee;}
.ac_over {background-color: #49B2E8; color: white;}
#id_tags {width: 400px;}
