{% extends "base.html" %}

{% block content %}

<div id="login-page" class="clearfix">
    <div class="success">
        <p>Your OpenID has been successfully verified.</p>
        <p>Now you need to either create a new account, or link your OpenID to an existing account.</p>
    </div>
    <div class="left login-account">        
        <form name="fregister" action="{% url user_register %}" method="post">
            <div class="fields">
    			<fieldset>
    				<legend>Create new account</legend>
    				{% if form1.username.errors %}<div class="error">{{ form1.username.errors|join:", " }}</div>{% endif %}
    				<div class="field"><label for="id_username">Username</label>{{ form1.username }}</div>
    				{% if form1.email.errors %}<div class="error">{{ form1.email.errors|join:", " }}</div>{% endif %}
    				<div class="field"><label for="id_email">Email</label>{{ form1.email }}</div>
            	</fieldset>
            	<input type="hidden" name="next" value="{{ next }}">
            	<input type="submit" name="bnewaccount" value="Create new account" class="submit right">
            </div>
		</form>
    </div>
    <div class="left login-openid">
        <form name="fverify" action="{% url user_register %}" method="post">
            <div class="fields">
    			<fieldset>
    			    {% if form2.non_field_errors %}<div class="error">{{ form2.non_field_errors }}</div>{% endif %}
    				<legend>Link existing account</legend>
    				{% if form2.username.errors %}<div class="error">{{ form2.username.errors|join:", " }}</div>{% endif %}
    				<div class="field"><label for="id_username">Username</label>{{ form2.username }}</div>
    				{% if form2.password.errors %}<div class="error">{{ form2.password.errors|join:", " }}</div>{% endif %}
    				<div class="field"><label for="id_password">Password</label>{{ form2.password }}</div>
    			</fieldset>
    		</div>
    		<input type="hidden" name="next" value="{{ next }}">
    		<input type="submit" name="bverify" value="Link existing account" class="submit right">
		</form>
    </div>
</div>

{% endblock %}
