<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}ReportingHan - Scruffy nerf herding at its best!{% endblock %}</title>
	<style>
		/* nick, feel free to delete all of this shiz */
		#banner {
			background-color: #EAEAEA;
			width: 100%;
			padding: .5em;
		}
	</style>
</head>
<body>
<div id="banner">
	<img src="/static/reportinghan.png" />
<div>
{% block main %}
<h1>ReportingHan</h1>
<ul>
	<li><a href="/account/register/">Register!</li>
</ul>
<ul>
	<li><a href="/question/new/">Ask a question</li>
</ul>
{% endblock %}
</body>
</html>