<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<title>{% block title %}ReportingOn - The backchannel for your beat.{% endblock %}</title>

<meta name="keywords" content="reportingon">
<meta name="description" content="ReportingOn - The backchannel for your beat.">
<meta name="language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="en">

{% block css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}
{% if debug %}
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery.js"></script>
{% endif %}
{% if not debug %}
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">google.load('jquery', '1.3')</script>
{% endif %}
<script type="text/javascript" src="{{ MEDIA_URL }}script.js"></script>

</head>

<body{% block body_styles %}{% endblock %}>

<div id="header" class="clearfix">
    <div class="content frame">
        <div class="left">
            <a href="/" title="ReportingOn - Home"><img id="logo" src="{{ MEDIA_URL }}images/logo.gif" alt="ReportingOn - Home" title="ReportingOn - Home"></a>
        </div>
        <div class="right">
            <div id="user-tag">
                <a href="/login">Login</a> or <a href="/sign-up">Sign Up</a>
            </div>
            <div id="search">
                <form id="search-form" action="/search" method="post">
                    <div id="search-field">
                        <input type="text" name="query" value="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="content" class="frame">
    {% block content %}Content{% endblock %}
</div>
<div id="footer" class="clearfix">
    <div class="content frame">
        <div class="left">
            <div class="left" id="footer-logo">
                <a href="/" title="ReportingOn - Home"><img id="logo-footer" src="{{ MEDIA_URL }}images/logo-footer.gif" alt="ReportingOn - Home" title="ReportingOn - Home"></a>
            </div>
            <ul class="left" id="footer-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="http://feedback.reportingon.com">Feedback</a></li>
            </ul>
        </div>
        <div class="right">
            <div class="left">
                ReportingOn is a Knight News Challenge project<br>
                spearheaded by Ryan Sholin with the help of the<br>
                Lion Burger crew. It’s open source.
            </div>
            <div class="right">
                <a href="CC" title="cC"><img src="{{ MEDIA_URL }}images/cc-logo-footer.gif" alt="cc" title="ReportingOn - Home"></a>
            </div>
        </div>
    </div>
</div>

{% if not debug %}
    <script type="text/javascript">
        //<![CDATA[
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        //]]>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        try {
        var pageTracker = _gat._getTracker("UA-79850-2");
        pageTracker._trackPageview();
        } catch(err) {}
        //]]>
    </script>
{% endif %}

</body>

</html>
