{% extends "base.html" %}

{% block title %}Watched | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content">
            <br>
            My watched stuff:<br><br>
            {% for item in watched %}
                <a href="{% ifequal    item.content_object.content_type.name 'tag' %}/beats/{{ item.content_object.name }}{% endifequal %}
                         {% ifnotequal item.content_object.content_type.name 'Tag' %}{{ item.content_object.get_absolute_url }}{% endifnotequal %}">{{ item.content_object }}</a> ({{ item.content_object.content_type.name }} watched on {{ item.created }})<br>
            {% endfor %}<br>
            <a href="{% url questions.views.list_questions %}">Browse all questions</a>
        </div>
    </div>
    <div id="content-right">
        {% include "includes/ask-a-question.html" %}
    </div>
{% endblock %}
