{% extends "base.html" %}

{% block title %}Watched | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content">
            Nice, you're logged in. This is where you'll eventually see things you've followed.<br><br>
            Until then, get started by <a href="{% url questions.views.list_questions %}">browsing all questions</a>.
        </div>
    </div>
    <div id="content-right">
        {% include "includes/ask-a-question.html" %}
    </div>
{% endblock %}
