{% extends "base.html" %}

{% block title %}My profile | {{ block.super }}{% endblock %}

{% load comments %}
{% load tagging_tags %}
{% load humanize %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content" class="search-page">
        	<form action="/search/" method="GET">
        	    <div class="fields">
            	    <div class="search-field">
            	        You looked for <label for="query" class="disabled">Search </label><input type="text" id="query" name="query" value="{{ query }}">
            	        <input type="submit" value="Search again" class="submit">
            	    </div>
                </div>
        	</form>
        	<div id="search-found">
        	    <h2>
            	    {% if results %}
            	        We found {{ search_meta.total_found }} thing{% ifnotequal search_meta.total_found 1 %}s{% endifnotequal %}.
            	    {% endif %}
            	    {% if not results %}
            	        We couldn't find anything for that.
            	    {% endif %}
            	</h2>
        	</div>
        	{% if results %}
        		{% for question in results %}
                    {% get_comment_count for question as comment_count %}
                    {% tags_for_object question as tags %}
                    <div class="question clearfix">
                        <div class="avatar left"><a href="{{ question.author.get_absolute_url }}"><img src="{{ MEDIA_URL }}images/avatar.jpg" alt="{{ question.author.username }}" title="{{ question.author.username }}"></a></div>
                        <div class="meta left">
                            <div class="answers-number right" title="# of answers + question points + answer points">{{ comment_count }}</div>
                            <a href="{{ question.get_absolute_url }}" class="title">{{ question.question }}</a>
                            <div class="answers">{{ comment_count }} answer{% ifnotequal comment_count 1 %}s{% endifnotequal %}</div>
                            <div class="tools">
                                <a href="#" class="good-question left">Good Question</a>
                                <div class="posted">Posted in {% for tag in tags %}<a href="/beats/{{ tag|urlencode }}">{{ tag }}</a>, {% endfor %} by <a href="{{ question.author.get_absolute_url }}">{{ question.author.username }}</a> {{ question.created|naturalday }} at {{ question.created|date:"g:i a" }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        	{% endif %}
        </div>
    </div>
    <div id="content-right">
        {% include "includes/ask-a-question.html" %}
    </div>
{% endblock %}
