{% extends "base.html" %}

{% load content_type %}
{% load watched %}

{% block title %}{% if profile %}My profile{% endif %}{% if not profile %}{{ user.username }}'s profile{% endif %} | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content" class="profile">
            <div class="profile-top clearfix">
                <div id="profile-image" style="background-image: url('http://www.gravatar.com/avatar/{{ user.get_profile.get_gravatar }}.jpg?s=165&amp;d=http://reportingon.com/media/images/avatar-large.jpg');"><span>{{ user.get_profile.get_score }}</span></div>
                <div class="meta">
                    {% ifnotequal request.user user %}
                        {% watched user request.user as iswatched %}
                        <a href="/watch/{% get_content_type_id user %}/{{ user.id }}" class="watch {% if iswatched %}watched{% endif %} {% if not request.user.is_authenticated %}disabled{% endif %}" id="watched-{% get_content_type_id user %}-{{ user.id }}">Watch user</a>
                    {% endifnotequal %}
                    <h1>{{ user.username }}</h1>
                    <form id="edit_form" name="edit_form" action="{{ request.user.get_absolute_url }}edit" method="post">
                        <div class="fields">
                            <fieldset>
                                {% if form.non_field_errors %}<div class="error">{{ form.non_field_errors }}</div>{% endif %}
                                <div class="field clearfix"><label>Photo</label><a class="grav-edit" href="http://gravatar.com">Edit at Gravatar</a></div>
                                {% if form.errors.location %}<div class="error">{{ form.errors.location }}</div>{% endif %}
                                <div class="field"><label for="id_location">Location</label>{{ form.location }}</div>
                                {% if form.errors.affiliation %}<div class="error">{{ form.errors.affiliation }}</div>{% endif %}
                                <div class="field"><label for="id_affiliation">Affiliation</label>{{ form.affiliation }}</div>
                                {% if form.errors.twitter %}<div class="error">{{ form.errors.twitter }}</div>{% endif %}
                                <div class="field"><label for="id_twitter">Twitter username</label>{{ form.twitter }}</p>
                                {% if form.errors.website %}<div class="error">{{ form.errors.website }}</div>{% endif %}
                                <div class="field"><label for="id_website">Website</label>{{ form.website }}</div>
                                {% if form.errors.bio %}<div class="error">{{ form.errors.bio }}</div>{% endif %}
                                <div class="field"><label for="id_bio">Bio</label>{{ form.bio}}</div>
                        	 </fieldset>
                        	 <input type="hidden" name="user" id="id_user" value="{{ request.user.id }}">
                        	 <input type="submit" name="save'" value="Save changes" class="submit right">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <div id="content-right" class="clearfix">
        {% include "includes/ask-a-question.html" %}
        <div class="profile-sidebar">
            <h2>User stats</h2>
            <ul class="clearfix">
                <li><a href="#">{{ user_questions }} Question{% ifnotequal user_questions 1 %}s{% endifnotequal %}</a></li>
                <li><a href="#">{{ user_answers }} Answer{% ifnotequal user_answers 1 %}s{% endifnotequal %}</a></li>
                <li><a href="#">{{ user_liked_questions }} Liked Question{% ifnotequal user_liked_questions 1 %}s{% endifnotequal %}</a></li>
                <li><a href="#">{{ user_liked_answers }} Liked Answer{% ifnotequal user_liked_answers 1 %}s{% endifnotequal %}</a></li>
            </ul>
            <!--
            <h2>Top beats</h2>
            <ul class="clearfix">
                <li><a href="#">Edutainment (94)</a></li>
                <li><a href="#">knight-news (54)</a></li>
                <li><a href="#">Burgers (34)</a></li>
                <li><a href="#">Harry Manback (33)</a></li>
                <li><a href="#">Dave Matthews Band (17)</a></li>
                <li><a href="#">O.A.R. (15)</a></li>
                <li><a href="#">News in the New York (12)</a></li>
            </ul>
            -->
        </div>
    </div>
{% endblock %}
