{% extends "base.html" %}

{% load content_type %}
{% load watched %}

{% block title %}{% if profile %}My profile{% endif %}{% if not profile %}{{ user.username }}'s profile{% endif %} | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content-left">
        {% include "includes/nav.html" %}
        <div id="main-content" class="profile">
            <div class="profile-top clearfix">
                <div id="profile-image" style="background-image: url('http://www.gravatar.com/avatar/{{ user.get_profile.get_gravatar }}.jpg?s=165&amp;d=http://reportingon.com/media/images/avatar-large.jpg');"><span>{{ user.get_profile.get_score }}</span></div>
                <div class="meta">
                    {% ifnotequal request.user user %}
                        {% watched user request.user as iswatched %}
                        <a href="/watch/{% get_content_type_id user %}/{{ user.id }}" class="watch {% if iswatched %}watched{% endif %} {% if not request.user.is_authenticated %}disabled{% endif %}" id="watched-{% get_content_type_id user %}-{{ user.id }}">Watch user</a>
                    {% else %}
                        <a href="{{ request.user.get_absolute_url }}edit" class="edit-profile">Edit</a>
                    {% endifnotequal %}
                    <h1>{{ user.username }}</h1>
                    {% if user.get_profile.location %}<h2>{{ user.get_profile.location }}</h2>{% endif %}
                    <div class="details">
                        <dl>
                            {% if user.get_profile.affiliation %}
                                <dt>Affiliation:</dt>
                                <dd>{{ user.get_profile.affiliation }}</dd>
                            {% endif %}
                            {% if user.get_profile.website %}
                                <dt>Website:</dt>
                                <dd>{{ user.get_profile.website|urlize }}</dd>
                            {% endif %}
                            {% if user.get_profile.bio %}
                                <dt>Bio:</dt>
                                <dd>{{ user.get_profile.bio|urlize }}</dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </div>
            <div class="activity">
                <h2>User activity</h2>
                <ul>
					{% for activity in recent_activity %}
						<li>{{ activity.description|safe }} <span>{{ activity.date|timesince }} ago</span></li>
					{% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="content-right" class="clearfix">
        {% include "includes/ask-a-question.html" %}
        <div class="profile-sidebar">
            <h2>User stats</h2>
            <ul class="clearfix">
                <li><a href="#">{{ user_questions }} Question{% ifnotequal user_questions 1 %}s{% endifnotequal %}</a></li>
                <li><a href="#">{{ user_answers }} Answer{% ifnotequal user_answers 1 %}s{% endifnotequal %}</a></li>
                <li><a href="#">{{ user_liked_questions }} Liked Question{% ifnotequal user_liked_questions 1 %}s{% endifnotequal %}</a></li>
                <li><a href="#">{{ user_liked_answers }} Liked Answer{% ifnotequal user_liked_answers 1 %}s{% endifnotequal %}</a></li>
            </ul>
            {% if user.get_profile.twitter %}
                <h2>Latest from <a href="http://twitter.com/{{ user.get_profile.twitter }}">Twitter</a></h2>
                <div id="twitter_div"><ul id="twitter_update_list"></ul></div>
                <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
                <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/{{ user.get_profile.twitter }}.json?callback=twitterCallback2&amp;count=5"></script>
            {% endif %}
            <!--
            <h2>Top beats</h2>
            <ul class="clearfix">
                <li><a href="#">Edutainment (94)</a></li>
                <li><a href="#">knight-news (54)</a></li>
                <li><a href="#">Burgers (34)</a></li>
                <li><a href="#">Harry Manback (33)</a></li>
                <li><a href="#">Dave Matthews Band (17)</a></li>
                <li><a href="#">O.A.R. (15)</a></li>
                <li><a href="#">News in the New York (12)</a></li>
            </ul>
            -->
        </div>
    </div>
{% endblock %}
