{% extends "base.html" %}

{% block content %}

<div id="login-page" class="clearfix">
    <div class="left login-account">
        <form action="" method="post">
            <div class="fields">
                <fieldset>
                    <legend>Password reset</legend>
                    <div class="info"><em>Forget your password?</em> It happens. Give us your email and we'll send you along some instructions to reset it.</div>
                    {% if form.email.errors %}<div class="error">{{ form.email.errors }}</div>{% endif %}
                    <div class="field"><label for="id_email">Email</label>{{ form.email }}</div>
                </fieldset>
                <input type="submit" value="Hook me up" class="submit right">
            </div>
        </form>
    </div>
    <div class="left login-openid">
        <form id="auth_form" name="auth_form" action="{% url user_signin %}" method="post">
            <div class="fields">
                <fieldset>
            		<legend>Already a member?</legend>
            		<div class="field"><label for="id_username">Username</label><input id="id_username" type="text" name="username" maxlength="30" /></div>
            		<div class="field"><label for="id_password">Password</label><input type="password" name="password" id="id_password" /></div>
            		<input type="hidden" name="next" value="{{ next }}">
            	</fieldset>
            	<input type="submit" name="blogin" value="Let me in" class="submit right">
            </div>
        </form>
    </div>
</div>

{% endblock %}
