{% extends "base.html" %}

{% block content %}

<div id="login-page" class="clearfix">    
    <div class="left login-account">
        <form id="reg_form" name="reg_form" action="{% url registration_register %}" method="post">
            <div class="fields">
                <fieldset>
        	        <legend>Account signup</legend>
        	        {% if form.non_field_errors %}<div class="error">{{ form.non_field_errors }}</div>{% endif %}
        	        {% if form.errors.username %}<div class="error">{{ form.errors.username }}</div>{% endif %}
        	        <div class="field"><label for="id_username">Username</label>{{ form.username }}</div>
        	        {% if form.errors.email %}<div class="error">{{ form.errors.email }}</div>{% endif %}
            	    <div class="field"><label for="id_email">Email</label>{{ form.email }}</div>
            	    {% if form.errors.password1 %}<div class="error">{{ form.errors.password1 }}</div>{% endif %}
            	    <div class="field"><label for="id_password1">Password</label>{{ form.password1 }}</div>
            	    {% if form.errors.password2 %}<div class="error">{{ form.errors.password2 }}</div>{% endif %}
            	    <div class="field"><label for="id_password2">Confirm</label>{{ form.password2 }}</div>
            	 </fieldset>
            	 <input type="submit" name="bsignup'" value="Let's do this" class="submit right">
            </div>
        </form>
    </div>
    <div class="left login-openid">
        <form id="openid_form" name="openid_form" action="{% url user_signin %}" method="post">
            <div class="fields">
        	    <fieldset>
            		<legend>OpenID signup</legend>
                    <div class="field"><label for="id_openid_url"><img id="openid-badge" src="{{ MEDIA_URL}}images/openid.gif" alt="OpenID URL" title="OpenID URL">URL</label><input id="id_openid_url" type="text" class="required openid" name="openid_url" maxlength="255"></div>
                    <input type="hidden" name="action" value="verify">
                    <input type="hidden" name="next" value="">
            	</fieldset>
            	<input name="openid_submit" type="submit" value="Let's do this" class="submit right">
            </div>
        </form>
    </div>
    <div class="clearfix page-message supplement">
        <p>Already a member? <a href="{% url user_signin %}">Login here</a></p>
    </div>
</div>

{% endblock %}
